<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>


<div class="container">
  <div class="row">
    <h1>New book</h1>
    <%= form_with model: book do |f| %>
      <h6>Title</h6>
      <%= f.text_field :title %>
      <h6>Opinion</h6>
      <%= f.text_area :body %><br>
      <%= f.submit 'Create Book',  class: "btn btn-success"%>
    <% end %>
  </div>
</div>