<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center m-4">
            <h1>Welcome to <i class="fa-solid fa-book fa-lg"></i>Bookers!</h1>
        </div>
      </div>
    </div>
  </body>

</html>