<head>
  <meta charset="utf8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

  <body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-start m-3">
        <h1>welcome to <i class="fa-solid fa-book fa-lg"></i>Bookers! </>
      </div>
    </div>
    <div class="row justify-content-center w-100">
      <div class="d-flex justify-content-start m-3">
        <p>In <i class="fa-solid fa-book fa-lg"></i>Bookers,<br>
          you can share and exchange your opinions , inpressions , and emotions<br>
          about various books!<br>
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center w-100">
        <%= link_to "Log in", new_user_session_path, class: "btn-sm btn-info btn w-50 m-3" %><br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center w-100">
        <%= link_to "Sign up", new_user_registration_path, class: "btn-sm btn-success btn w-50 m-3" %>
      </div>
    </div>
  </body>


</div>