<head>
  <meta charset="utf8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

  <body>
    <div class="d-flex justify-self-start">
      <h1> welcome to Bookers !! </h1>
    </div>

    <div class="d-flex justify-self-start">
        <p>
          In Bookers,<br>
          you can share and exchange your opinions , inpressions , and emotions<br>
          about various books!<br>
          <%= link_to "Log in", new_user_session_path %><br>
          <%= link_to "Sign up", new_user_registration_path %>
        </p>
    </div>
  </body>


</div>