<%= link_to "About", 'home/about' %>


<h1> welcome to Bookers !! </h1>
<p>In Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<body>
<% if user_signed_in? %>
  <li>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "Log in", new_user_session_path %>
  </li>
<% end %>
</body>

<footer>
CopyRight Infratop.inc
</footer>